<div class="403-container">
    <div class="text-wrapper">
        <MudText Typo="Typo.h3" Color="Color.Error">403 - ACCESS DENIED</MudText>
        <MudText Typo="Typo.h5" Class="mb-16">Oops, You don't have permission to access this page.</MudText>

        <MudButton Variant="Variant.Outlined" Size="Size.Large" Href="/" Color="Color.Primary">Go Back Home</MudButton>
    </div>
</div>