<div style="position: fixed; width: 100vw; height: 100vh; background: hsla(89, 43%, 51%, 0.5; display: flex; justify-content: center; align-items: center)">
    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
    <MudText>Loading Data, Please wait...</MudText>
</div>
